@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IS 415 Grade Calculator";
}
@*Trevor Shumway
    Wed Jan 19
*@
@model GradeCalculatorModel;


<h2 style="padding-left: 30px;">IS 415 Grade Calculator</h2>
<fieldset style="padding-left: 30px;">
    <form method="post">
        <label>Assignments:</label>
        <input type="number" id="assignments" asp-for="Assignments" /><br /><br />
        <label>Group Project:</label>
        <input type="number" id="groupproject" asp-for="GroupProject"  /><br /><br />
        <label>Quizzes:</label>
        <input type="number" id="quizzes" asp-for="Quizzes" /><br /><br />
        <label>Exams:</label>
        <input type="number" id="exams" asp-for="Exams" /><br /><br />
        <label>Intex:</label>
        <input type="number" id="intex" asp-for="Intex" /><br /><br />
        <input id="submitgrade" type="submit" value="Submit" />
        @*tag helper*@
        <div asp-validation-summary="All"></div>
    </form>
</fieldset>

