@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "TShul Home";
}
@*Trevor Shumway
    Wed Jan 19
*@

 
<img id="tshums" src="img/IMG_2211.jpeg" style="width: 400px; padding-left:40px;" />
<br /><br />
<p style="padding-left: 30px;">I hope to be ready to work in industry as a full stack web developer after finishing IS 413.</p>
<p style="padding-left: 30px;">My top 3 jobs I want to pursue after graduating are:</p>
<br />
<ol class="list-group list-group-numbered" style="padding-left: 30px;">
    <li class="list-group-item">Full stack web developer</li>
    <li class="list-group-item">Chief Information Oficer</li>
    <li class="list-group-item">Data Scientist</li>
</ol>
<br />


<p id="numbergrade"></p>
<p id="lettergrade"></p>
<!--<script src="lib/bootstrap/js/bootstrap.min.js"></script>-->



